<!-- HEAD -->
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="../css/login-register.css" />
<link rel="stylesheet" type="text/css" href="../css/productCreate.css" />

<!-- HEADER -->
<%- include('../partials/header.ejs') %>

<body>
  <main>
    <section>
      <div class="text-danger">
        <ul></ul>
      </div>
      <form id="formProduct" name="formulario" action="/productCreate" method="POST" enctype="multipart/form-data"
        class="createform" onsubmit="return validateForm()">
        <div>
          <h1>INGRESAR NUEVO PRODUCTO DB</h1>
        </div>

        <label for="title">Titulo</label>
        <input type="text" id="nameProduct" name="title" placeholder="Titulo del Libro" class="control" <%=locals.errors &&
          errors.title ? 'is-invalid' : null %> value="<%= locals.oldData ? oldData.title : null %>">
        <div class="col-8 col-lg-10">
          <small class="text-danger erName"></small>
        </div>
        <% if (locals.errors && errors.title) { %>
        <div class="text-danger">
          <%= errors.title.msg %>
        </div>
        <% } %>

        <!-- Agregar m치s campos del formulario -->

        <div class="container-botones">
          <button type="submit" id="CrearProducto" class="btn btn-success">Agregar
            producto</button>
        </div>

      </form>
    </section>
  </main>
</body>

<!-- FOOTER -->
<%- include('../partials/footer.ejs') %>

<script>
  function validateForm() {
    var nameProduct = document.getElementById("nameProduct").value;
    var descriptionProduct = document.getElementById("descriptionProduct").value;
    var inputProductAddImageTop = document.getElementById("inputProductAddImageTop").value;
    var inputProductAddImageBack = document.getElementById("inputProductAddImageBack").value;

    var erName = document.querySelector('.erName');
    var erDescription = document.querySelector('.erDescription');
    var erImageTop = document.querySelector('.erImageTop');
    var erImageBack = document.querySelector('.erImageBack');

    var isValid = true;

    erName.innerHTML = '';
    erDescription.innerHTML = '';
    erImageTop.innerHTML = '';
    erImageBack.innerHTML = '';

    if (nameProduct.length < 5) {
      erName.innerHTML = 'El nombre del producto debe tener al menos 5 caracteres';
      isValid = false;
    }

    if (descriptionProduct.length < 20) {
      erDescription.innerHTML = 'La descripci칩n del producto debe tener al menos 20 caracteres';
      isValid = false;
    }

    if (!inputProductAddImageTop.match(/\.(jpg|jpeg|png|gif)$/i)) {
      erImageTop.innerHTML = 'La imagen de tapa debe tener un formato v치lido (JPG, JPEG, PNG, GIF)';
      isValid = false;
    }

    if (!inputProductAddImageBack.match(/\.(jpg|jpeg|png|gif)$/i)) {
      erImageBack.innerHTML = 'La imagen de contraportada debe tener un formato v치lido (JPG, JPEG, PNG, GIF)';
      isValid = false;
    }

    return isValid;
  }
</script>

</html>
