<!-- HEAD -->
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="../css/login-register.css" />
<link rel="stylesheet" type="text/css" href="../css/productCreate.css" />

<!-- HEADER -->
<%- include('../partials/header.ejs') %>

<body>
  <main>
    <section>
      <form id="formProduct" action="/productEdit/<%= libro.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
        class="createform" onsubmit="return validateForm()">
        <div>
          <h1>MODIFICAR PRODUCTO DB</h1>

        </div>

        <label for="title">Titulo</label>
        <input type="text" name="title" id="title" placeholder="Titulo del Libro" class="control" value="<%= libro.title %>">
        <div class="col-8 col-lg-10">
          <small class="text-danger erName"></small>
        </div>

        <!-- Agrega más campos del formulario -->

        <div class="container-botones">
          <button type="submit" id="Actualizar" class="btn btn-success">Actualizar producto</button>
        </div>

      </form>
    </section>
  </main>
</body>

<!-- FOOTER -->
<%- include('../partials/footer.ejs') %>

<script>
  function validateForm() {
    var title = document.getElementById("title").value;
    // Agrega validaciones para los otros campos según los requisitos

    var erTitle = document.querySelector('.erTitle');
    // Agrega más variables para otras posibles áreas de error

    var isValid = true;

    erTitle.innerHTML = '';
    // Agrega más líneas para limpiar otras áreas de error

    if (title.length < 5) {
      erTitle.innerHTML = 'El título del producto debe tener al menos 5 caracteres';
      isValid = false;
    }
    // Agrega más condiciones de validación para otros campos

    return isValid;
  }
</script>

</html>
